<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender class="ch.qos.logback.core.ConsoleAppender" name="ConsoleAppender">
		<encoder>
			<pattern>%d{dd MMM yyyy HH:mm:ss} %5p #%C# - %m%n</pattern>
		</encoder>
	</appender>

	<logger level="error" additivity="false" name="org.apache">
		<appender-ref ref="ConsoleAppender" />
	</logger>
	

	<root level="info">
		<appender-ref ref="ConsoleAppender" />
	</root>

</configuration>
