<?xml version="1.0" encoding="UTF-8" ?>

<config>
	<active-enviroment>development</active-enviroment>
	<enviroment>
		<development>
			<check-modified>true</check-modified>
			<encoding>UTF-8</encoding>
			<full-errors>true</full-errors>
			<parser>nu.validator.htmlparser.sax.HtmlParser</parser>
		</development>
		<staging>
			<check-modified>true</check-modified>
			<encoding>UTF-8</encoding>
			<full-errors>true</full-errors>
			<parser>nu.validator.htmlparser.sax.HtmlParser</parser>
		</staging>
		<production>
			<check-modified>false</check-modified>
			<encoding>UTF-8</encoding>
			<full-errors>false</full-errors>
			<parser>nu.validator.htmlparser.sax.HtmlParser</parser>
		</production>
	</enviroment>
</config>
