<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<active-enviroment>development</active-enviroment>
	<enviroment>
		<development>
			<check-modified>true</check-modified>
			<encoding>UTF-8</encoding>
			<full-errors>true</full-errors>
		</development>
		<staging>
			<check-modified>true</check-modified>
			<encoding>UTF-8</encoding>
			<full-errors>true</full-errors>
		</staging>
		<production>
			<check-modified>false</check-modified>
			<encoding>UTF-8</encoding>
			<full-errors>false</full-errors>
		</production>
	</enviroment>
</config>
