[client]
port            = 3306
socket          = /tmp/mysql.sock
[mysqld]
tmpdir=/usr/local/mysql/tmp
character-set-server=utf8
skip_name_resolve
# generic configuration options
port            = 3306
socket          = /tmp/mysql.sock
# enable federated tables
federated
# safe and fast. default is REPEATABLE-READ 
# (slower, and not what most people expect)
transaction-isolation = READ-COMMITTED
# log bad queries
# use mysqldumpslow /tmp/mysql_slow.log 
# for a report of bad queries
log_output=FILE
log-slow-queries=/usr/local/mysql/data/mysql_slow.log
long_query_time=1
log-queries-not-using-indexes
# connection layer
table_open_cache = 2048
max_connections = 100 # small for desktop
thread_cache_size = 4
max_allowed_packet=64M # this is stupid
### sql layer tunnings
sort_buffer_size = 64M
tmp_table_size = 480M
read_buffer_size = 8M
##############
##innodb stuff
innodb_buffer_pool_size = 5632M
innodb-file-per-table
# default is 8MB, causes too much autoexentds on write heavy workloads.
innodb_autoextend_increment = 128
innodb_flush_log_at_trx_commit = 2
# default 1M too small... causes overspill
innodb_log_buffer_size = 8M 
innodb_flush_method=O_DIRECT
###############
## myisam stuff
key_buffer = 64M
# specifically for build_livedb
bulk_insert_buffer_size=16M
###############
## heap/memory
max_heap_table_size = 860M

